<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
                xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit post</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
    <section class="hero is-primary is-small">
        <div class="hero-body has-text-centered">
            <p class="title">
                Edit Post
            </p>
        </div>
    </section>
    <br>

        <form action="#" th:action="@{/posts/savePost}" th:object="${post}" method="post">

            <input class="input" type="text" th:field="*{postTitle}" placeholder="Post the title">
            <p th:if="${#fields.hasErrors('postTitle')}" th:errors="*{postTitle}" ></p>

            <br>
            <br>

            <textarea class="textarea" rows="10" type="text" th:field="*{content}" placeholder="Type the content"></textarea>
            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>

            <br>

            <span th:text="' Author: ' + ${authUsername}" ></span>
            <input type="text" name="author" value="user" th:value="${authUsername}" style="visibility: hidden">
<!--            <input class="input" type="text" th:field="*{author}" placeholder="Author">-->
<!--            <p th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></p>-->

            <br>
            <br>

            <input type="hidden" th:field="*{id}"> <!--Add hidden form filled to handle update-->

            <button class="button" type="submit"> Update comment</button>

        </form>

        <br>

        <button class="button" type="submit"><a th:href="@{/posts/}">Back to Post List</a></button>

    </body>
</html>