<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
                xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Create a new Post</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
        <h1 class="title is-1" align="center">Add a new Post</h1>

        <br>

    <form action="#" th:action="@{/posts/savePost}" th:object="${post}" method="post">

        <input class="input" type="text" th:field="*{postTitle}" placeholder="Insert your title here">
        <p th:if="${#fields.hasErrors('postTitle')}" th:errors="*{postTitle}"></p>

        <br>
        <br>


        <textarea class="textarea", rows="10" th:field="*{content}" placeholder="Insert your content here"></textarea>
        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>

        <br>

        <span th:text="' Author: ' + ${authUsername}" ></span>
        <input type="text" name="author" value="user" th:value="${authUsername}" style="visibility: hidden">
                <!--        <p th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></p>-->

        <br>

        <button class="button" type="submit"> Save post</button>
        <input type="hidden" th:field="*{id}">

    </form>

        <br>

        <button class="button" type="submit"><a th:href="@{/posts}">Back to Post List</a></button>

    </body>
</html>