<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit post</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<section class="hero is-primary is-small">
    <div class="hero-body has-text-centered">
        <p class="title">
            Edit Post
        </p>
    </div>
</section>
<br>

<form action="#" th:action="@{/user/saveUser}" th:object="${user}" method="post">

    <text>Username</text>
    <input class="input" type="text" th:field="*{username}" placeholder="Username">
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" ></p>

    <br>
    <br>

    <text>Email</text>
    <input class="input" type="text" th:field="*{email}" placeholder="Username">
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></p>


    <input type="text" name="password" value="user" th:value="*{password}" style="visibility: hidden">
<!--    <input class="input" type="text" th:field="*{password}" placeholder="Username" style="visibility:hidden">-->
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" ></p>
<!--    <input class="input" type="text" th:field="${*password}" style="visibility:hidden">-->
<!--    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" ></p>-->

    <br>
    <text>Role (1 - Admin, 2 - Moderator, 3 - User</text>
    <input class="input" type="text" th:field="*{roles}" placeholder="Type the role"></input>
    <p th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></p>

    <br>
    <!--            <input class="input" type="text" th:field="*{author}" placeholder="Author">-->
    <!--            <p th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></p>-->

    <br>
    <br>

    <input type="hidden" th:field="*{id}"> <!--Add hidden form filled to handle update-->

    <button class="button" type="submit"> Update User</button>

</form>

<br>

<button class="button" type="submit"><a th:href="@{/user/userManagement}">Back to User List</a></button>

</body>
</html>