<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<section class="hero is-primary">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <span class="navbar-burger" data-target="navbarMenuHeroA">
          </span>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a sec:authorize="isAuthenticated()" th:href="@{/posts}" class="navbar-item">
                            <button class="button is-light">Go to blog</button>
                        </a>
                        <a sec:authorize="isAuthenticated()" class="navbar-item" type="submit">
                            <form action="#" th:action="@{/logout}" method="post">
                                <button class="button is-light" type="submit">Logout</button>
                            </form>
                        </a>
                        <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="navbar-item">
                            <button class="button is-light"> Login </button>
                        </a>
                        <a sec:authorize="!isAuthenticated()" th:href="@{/register}" class="navbar-item">
                            <button class="button is-light">Register</button>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                Welcome to our blog !
            </p>
            <p class="subtitle">
                <label>Hi,
                    <span sec:authentication="name">Username</span>
                </label>
            </p>
        </div>
    </div>
    <div class="container has-text-centered">
        <a sec:authorize="!isAuthenticated()" th:href="@{/posts}" class="navbar-item">
            <button class="button is-centered">Continue as anonymous user</button>
        </a>
    </div>
</section>
</body>
</html>