<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
                xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
    <label>Hi,
        <span sec:authentication="name">Username</span>
    </label>
    <div sec:authorize="isAuthenticated()">
    <form action="#" th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
    </div>

    <ul sec:authorize="!isAuthenticated()">
        <li>
            <a th:href="@{/login}">Login</a>
        </li>
        <li>
            <a th:href="@{/register}">Register</a>
        </li>
        <li>
            <a th:href="@{/posts}">Continue as anonymous user</a>
        </li>
    </ul>
</body>
</html>