<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <input type="email" name="email" th:field="*{email}" id="email" placeholder="User email" required="true" autofocus="true"/>
    <input type="text" name="username" th:field="*{username}" id="username" placeholder="Username" required="true"/>
    <input type="password" name="password" th:field="*{password}" id="password" placeholder="Password" required="true"/>
    <button type="submit">Submit</button>

</form>
</body>
</html>